html {
  background-color: #00539F;
}
body {
  background-color: #E2CAF1;
  margin: 0 auto;
  width: 80%;
  max-width: 80ch;
  padding: 1em;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px grey;
}