---
import Social from './Social.astro';
---
<style>
   .spacer {
       height: 2em;
   }
</style>

<div class="spacer"></div>
<Social platform="twitter" username="astrodotbuild" />
<Social platform="github" username="withastro" />
<Social platform="youtube" username="astrodotbuild" />