---
---
<div transition:animate="slide" class="nav-links">
  <a href="/">Home</a>
  <a href="/about/" data-astro-reload>About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div>
